/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--components-gap);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height-bold);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.header,
.footer {
  padding: var(--margins);
  position: relative;
  min-height: 100vh;
  align-items: center;
}

@supports (min-height: 100dvh) {
  .header,
  .footer {
    min-height: 100dvh;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: var(--size-border);
  block-size: var(--size-border);
}

.decorated-zone::before {
  inset-block-start: var(--margins);
  inset-inline-end: var(--margins);
  border-block-start: var(--border-slim) var(--decorated-color);
  border-inline-end: var(--border-slim) var(--decorated-color);
}

.decorated-zone::after {
  inset-inline-start: var(--margins);
  inset-block-end: var(--margins);
  border-block-end: var(--border-slim) var(--decorated-color);
  border-inline-start: var(--border-slim) var(--decorated-color);
}

.rec {
  display: grid;
  grid-template-columns: min-content min-content;
  position: absolute;
  align-items: center;
  color: var(--accent-color);
  inset-block-start: var(--margins);
  inset-inline-end: var(--margins);
}

.rec::before {
  content: "REC";
}

.rec::after {
  --size-rec: 9px;
  content: "";
  width: var(--size-rec);
  height: var(--size-rec);
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding-inline-start: var(--button-padding-size);
  padding-inline-end: var(--button-padding-size);
  font-size: inherit;
  color: var(--nav-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: var(--border-slim) var(--nav-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: var(--border-slim) var(--nav-color);
}

.title,
.footer__title {
  font-size: var(--title-font-size);
  line-height: 82.5%;
  font-weight: var(--text-bold);
  color: var(--title-color);
}

.title {
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.article {
  justify-self: end;
}

.text-decor {
  background-color: var(--accent-title-bg-color);
  color: var(--article-color);
  font-size: inherit;
  font-weight: var(--text-bold);
}

.main {
  padding-inline-start: var(--margins);
  padding-inline-end: var(--margins);
  display: grid;
  gap: var(--section-gap);
  color: var(--text-color);
  font-weight: var(--text-slim);

  /*сновное содержимое (.main ) должно занимать все доступное место на экране.*/
  flex: 1;
}

.section,
.section .section__with-list {
  display: grid;
  gap: var(--text-block-gap);
}

.section__title {
  font-size: inherit;
  font-weight: var(--text-bold);
  color: var(--section-title-color);
}

.text-block__title-slim {
  font-weight: var(--text-slim);
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
}

/*ПРОВЕРИТЬ ПО pixelPerfect*/
/*.text-block__description {
  color: var(--text-color);
  font-weight: var(--text-slim);
}*/


.section__several-columns__section-block {
  display: flex;
  flex-direction: column;
  row-gap: var(--text-block-gap);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link:focus {
  border: none;
}

.link:focus-visible {
  outline: var(--border-slim) var(--text-color);
}

.gallery {
  gap: var(--margins);
}

/*Я не уверена, что так можно.... но вообще у меня section__title розового цвета*/
.gallery .section__title {
  color: var(--article-color);
}

.picture__gallery {
  display: grid;
  gap: var(--margins);
}

.gallery__image {
  display: block;
  /*ширина картинок, чтобы не возникло полосы прокрутки*/
  width: calc(100vw - var(--scrollbar-width));
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  justify-items: center;

  /*этот элемент не должен уменьшаться, что бы ни происходило*/
  flex-shrink: 0;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (hover: hover) {
  .header__theme-menu-button:hover {
    cursor: pointer;
    outline: var(--border-slim) var(--hover-outline-color);
  }

  .link:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--text-color);
  }
}

@media (width > 576px) {
  .title {
    margin-inline-start: calc(-1 * var(--margins));
  }

  .article {
    justify-self: end;
    width: 50%;
  }

  /*по макету вроде совпадает*/
  /*сделать скриншоты*/
  .section__column {
    grid-template-columns: repeat(3, 1fr);
  }

  .text-block__section-column {
    grid-column: 2/-1;
  }

  .section__column .section__title {
    grid-row: 1/3;
  }

  .section__with-list {
    column-gap: var(--text-block-gap);
    row-gap: 0;
    grid-column: 2/-1;
  }

  .section__several-columns .section__title {
    width: min-content;
  }

  .picture__gallery {
    gap: var(--text-block-gap);
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      "a a b"
      "c d b"
      "c e e";
  }

  .gallery__item:nth-of-type(1) {
    grid-area: a;
  }

  .gallery__item:nth-of-type(2) {
    grid-area: b;
  }

  .gallery__item:nth-of-type(3) {
    grid-area: c;
  }

  .gallery__item:nth-of-type(4) {
    grid-area: d;
  }

  .gallery__item:nth-of-type(5) {
    grid-area: e;
  }
}
@media (width > 768px) {
  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section__several-columns__section-block {
    grid-column: 1/-1;
    gap: var(--text-block-gap);
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .section__several-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__several-columns .section__title {
    width: auto;
    grid-column: 1/2;
  }

  .text-block {
    flex: 1;
  }
}
