/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /*ЦВЕТА*/
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070; /*цвет тени заголовка, цвет фона заголовков, цвет некоторых фраз*/
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-title-bg-color: var(--accent-color);/*Для некоторых секций*/
  --article-color: var(--bg-color);
  --hover-outline-color: rgba(255, 0, 112, 0.4);

  /*ШРИФТЫ*/
  --font-size: 18px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font: "IBM Plex mono", monospace;
  --text-bold: 700;
  --text-slim: 400;
  --line-height-bold: 130%;

  /*ОТСТУПЫ*/
  --margins: 10px;
  /*--rec-margin: 10px;*//*отказаться от переменной?*/
  --menu-gap: 10px;
  --button-padding-size: 13px;
  --components-gap: 40px;
  --section-gap: 50px;
  --text-block-gap: 20px;
  --text-gap: 10px;

  /*ДРУГОЕ*/
  --border-slim: 1px solid;
  --size-border: 25px;
  --scrollbar-width: calc(100vw - 100%); /*ширины полосы прокрутки*/
}



@media (width > 576px) {
  :root {
    --margins: 20px;
    --section-gap: 80px;
    --components-gap: 60px;
  }

  /*.rec::after {
    --margins: 10px;
  }*/

  /*.header__theme-menu-list {
    --margins: 10px;
  }*/

  /*.gallery {
    --text-gap: 20px;
  }*/
}

/*ВОТ ТАК ОСТАВИТЬ????*/

.theme_light .header__theme-menu-button,
.theme_light .section__title,
.theme_light .decorated-zone::before,
.theme_light .decorated-zone::after {
  --accent-color: var(--text-color);
}

.theme_dark .header__theme-menu-button,
.theme_dark .section__title,
.theme_dark .gallery .section__title,
.theme_dark .decorated-zone::before,
.theme_dark .decorated-zone::after,
.theme_dark .section .section__one-column {
  --accent-color: #ff0070;
}

@media (width > 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
  }

  .decorated-zone::before,
  .decorated-zone::after,
  .header__theme-menu-button,
  .section__title {
    --accent-color: var(--text-color);
  }
}

@media (prefers-color-scheme: light) and (width > 768px) {
  .theme_light .title,
  .theme_light .footer__title,
  .title,
  .footer {
    --accent-color: #ff0070;
  }
}
